<h3>Edit Student Form</h3>

<%= form_for @student do |f| %>
  <label>First name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Last name:</label><br>
  <%= f.text_field :last_name %><br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= f.submit %>
<% end %>